<%= link_to 'Editar', edit_movie_path(@movie) %>

<h1><%= @movie.title %></h1>
<p><b>Ano de lançamento:</b> <%= @movie.release_year %></p>
<p><b>Sinopse:</b> <%= @movie.synopsis %></p>
<p><b>País de origem:</b> <%= @movie.country_of_origin %></p>
<p><b>Duração:</b> <%= @movie.time %></p>
<p><b>Diretor(a):</b> <%= @movie.director.name if @movie.director %></p>
<p><b>Gênero:</b> <%= @movie.genre.name if @movie.genre %></p>
<p><b>Status:</b> <%= @movie.status %></p>

<p><% if @movie.status == "draft" %>
    <%= button_to 'publicar', publish_movie_path, {method: 'patch'} %>
<% end %></p>
<%= link_to 'Voltar', @backpath %>